tzlocal==4.2
PySide6==6.3.0
pyqtgraph==0.12.4
qdarkstyle==3.1
numpy==1.23.1
pandas==1.5.0
matplotlib==3.5.3
seaborn==0.11.2
ta-lib==0.4.24
deap==1.3.3
pyzmq==23.2.1
plotly==5.10.0
importlib-metadata==4.12.0
tqdm==4.64.1
vnpy_spreadtrading
vnpy_ctastrategy
vnpy_ctabacktester
vnpy_portfoliostrategy
vnpy_binance
vnpy_datamanager
vnpy_datarecorder
vnpy_optionmaster
vnpy_ib
vnpy_scripttrader
vnpy_websocket
vnpy_rest
vnpy_portfoliomanager
vnpy_algotrading
vnpy_paperaccount
vnpy_chartwizard
vnpy_rpcservice
vnpy_excelrtd
vnpy_riskmanager
vnpy_webtrader
vnpy_rpcservice
vnpy_rqdata
vnpy_udata
vnpy_tap
vnpy_da
vnpy_sqlite
backports.zoneinfo; python_version < '3.9'
